[submodule "omop-cdm-toolkit"]
	path = omop-cdm-toolkit
	url = https://gitlab.bsc.es/health-data/omop-cdm-toolkit
[submodule "beacon-omop"]
	path = beacon-omop
	url = https://gitlab.bsc.es/impact-data/impd-beacon_omopcdm
[submodule "DataSHIELD/dsOMOP"]
	path = DataSHIELD/dsOMOP
	url = https://github.com/isglobal-brge/dsOMOP
[submodule "DataSHIELD/dsOMOPClient"]
	path = DataSHIELD/dsOMOPClient
	url = https://github.com/isglobal-brge/dsOMOPClient
